@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <LINK href="~/css/site.css" rel="stylesheet" type="text/css">
    <LINK href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <LINK href="/css/bootstrap-theme.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
